body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vid-container video {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.player-container {
    margin-top: 20px;
    text-align: center;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.time-display {
    font-size: 2rem;
    margin-top: 20px;
}
